body{ 
    background-color: #eef9bf;
}

header{
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: #75b79e;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    width: 100%;
}
